.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#left-nav{
	width: 20% !important;
	margin-top: -1em !important;
	z-index: -2 !important;
	height: 100%;
    position: fixed;
    background: red;
    background-color: #33cccc !important;
    padding-top: 100px;
}

.page-scroll{
	width: 80%;
    height: auto;
    right: 0;
    position: absolute;
    right: 0 !important;
}

#menu{
	z-index: 1 !important;
	position: fixed;
	background-color: #212830 !important;
}

#logo{
	margin-bottom: -10px;
}

#left-menu-button{
	background-color: #212830;
	margin-top: 10px;
}

a{
	color: #33cccc;
}

#wrapper{
	background-image: url('../img/background.jpg');
	width: 100%;
	height: auto;
}

.aqua-card{
	background-color: #cc3467;
	width: 80%;
	height: auto;
	margin-top: 40%;
}