<!DOCTYPE html>
<html lang="en">
  <head>
    {% load staticfiles  %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Smart Shop</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

    <!-- NAVBAR -->

  <nav class="light-blue lighten-1" role="navigation" id="menu">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="{% static "img/logo.png" %}"id="logo"></a>
      <ul class="right hide-on-med-and-down">
      <ul class="left hide-on-med-and-down">
        <li><a><i class="material-icons left">credit_card</i>Bonuri</a></li>
        <li><a><i class="material-icons left">info</i>FAQ</a></li>
        <li><a><i class="material-icons left">cloud</i>Contact</a></li>
      </ul>
        <li><a href="#">Nume<i class="left material-icons">perm_identity</i></a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Silaghi Fineas<i class="left material-icons">perm_identity</i></a></li>
        <li><a href="#">Bonuri<i class="left material-icons">credit_card</i></a></li>
        <li><a href="#">FAQ <i class="left material-icons">info</i></a></li>
        <li><a href="#">Contact<i class="left material-icons">cloud</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>

    <!-- /NAVBAR -->
  
    

      <!-- Content -->
      <div class="col s12 center" id="index-banner">
      <div class="container">
	       
         <br><br><br><br> 
	         <a class="ptitle"><h2>Contact us</h2></a>
	       <br><br><br><br> 
      
       <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s6">
              <i class="material-icons prefix">account_circle</i>
              <input id="icon_prefix" type="text" class="validate">
              <label for="icon_prefix">First Name</label>
            </div>
            <div class="input-field col s6">
              <i class="material-icons prefix">phone</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Telephone</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">phone</i>
              <input id="icon_telephone" type="tel" class="validate">
              <label for="icon_telephone">Telephone</label>
            </div>
          </div>
          <button class="waves-effect waves-light btn">button</button>
        </form>
      </div>
        
      </div>
      </div>

      <!-- /Content -->




  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
